
/* Header */
.header {
	line-height: 35px;
	height: 35px;
	padding: 15px 0;
	background: #fff;
	border-top: 5px solid #ed76ea;
	text-align: center;
	color: #545e69;
}
.header .name {
	color: #49515a;
	font-family: 'Sacramento', cursive;
	font-size: 30px;
	margin-bottom: 5px;
	margin-top: 0;
}

/* Sections */
.sections-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section {
  margin-bottom: 30px;
}
.section .left {
	float: left;
}
.section .right{
	float: right;
}
.section .section-inner {
  background: #fff;
  padding: 30px;
}
.section .heading {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #545e69;
  font-size: 26px;
}
.section .content .more-link .fa {
  margin-right: 5px;
  font-size: 14px;
}

/* Footer */
.footer {
	padding: 15px 0;
	bottom: 0px;
	width: 100%;
	max-height: 33px;
	line-height: 33px;
}
.footer p {
	float: left;
	padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer ul {
	float: right;
	padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer .social a {
	background: #49515a;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
}
.footer .social a:hover {
	background: #778492;
}
.footer .social a .fa {
	font-size: 20px;
}
.list-inline > li {
	display: inline-block;
	padding-right: 3px;
	padding-left: 3px;	
}
