
/* ======= Header ======= */
.header {
  padding: 30px 0;
  background: #fff;
  border-top: 5px solid #ed76ea;
}
.header .name {
  color: #49515a;
  font-family: Vibur;
  font-variant: normal;
  font-weight: 400;
  text-align: center;
  font-size: 25px;
}
.header .btn {
  margin-top: 50px;
  font-weight: bold;
}
.header .profile-content .social a {
  background: #b0b7bf;
  width: 36px;
  height: 36px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
}
.header .profile-content .social a:hover {
  background: #778492;
}
.header .profile-content .social a .fa {
  font-size: 20px;
  padding-top: 8px;
}