
/* Header */
.header {
	line-height: 33px;
	height: 90px;
	padding: 25px 0;
	background: #fff;
	border-top: 5px solid #ed76ea;
	text-align: center;
}
.header .name {
	color: #49515a;
	font-family: 'Sacramento', cursive;
	font-size: 35px;
	margin-bottom: 5px;
	margin-top: 0;
}
.header .social a {
	background: #49515a;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
}
.header .social a:hover {
	background: #778492;
}
.header .social a .fa {
	font-size: 20px;
}
.list-inline > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}


