html {
	height: 100%;
	overflow: hidden;
	background: #ffffff url(background.png); no-repeat center bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#cspio-page{
	background-color: rgba(0, 0, 0, 0);
}

.flexbox #cspio-page{
	align-items: center;
	justify-content: center;
}

.cspio body{
	background: transparent;
}

.cspio body, .cspio body p{
    font-family: 'Montserrat', sans-serif;
	font-weight: 400;
    font-size: 20px;
    line-height: 1.50em;
    color: #ffffff;
}
.cspio body a{
	color: #ffffff;
	font-style: italic;
}

::-moz-placeholder {
	font-family: 'Pacifico';
	font-weight: 400;
} 

:-moz-placeholder {
	font-family: 'Pacifico';
	font-weight: 400;
}

.cspio h1, .cspio h2, .cspio h3, .cspio h4, .cspio h5, .cspio h6{
    font-family: 'Pacifico';
    color: #ffffff;
}

#cspio-headline{
	font-family: 'Pacifico';
	font-weight: 400;
	font-style: ;
	font-size: 48px;
	color: #ffffff;
	line-height: 1.00em;
}

#cspio-socialprofiles a {
  color: #ffffff;
  padding: 1em;
}

#cspio-socialprofiles a:hover {
  color: #ecb731!important;
  transition: all 1s; 
}

#cspio-content {
	display: none;
	max-width: 600px;
	background-color: #000000;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: transparent;
}
						
#cspio-page{
    background: -moz-radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 0%,rgba(0, 0, 0, 0.2) 37%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%);
    background: -webkit-radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 0%,rgba(0, 0, 0, 0.2) 37%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.4) 0%,rgba(0, 0, 0, 0.4) 37%,rgba(0,0,0,0) 68%,rgba(0,0,0,0) 100%);
}